* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  height: 100vh;
}

.left {
  flex: 30;
}

.right {
  flex: 60;
}


.boxes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.box {
  height: 33vh;
  width: 33vw;
  background-color: rgb(241, 237, 237);

  border-color: black;
  border: 2px solid;
  display: flex;
  justify-content: center;
}

.level {
  border: 2px solid black;
  width: 33%;
  height: 10%;
  display: flex;
  justify-content: center;

}

.left1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 33vw;
  align-items: center;
}
.leftBoxes {
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button {
  cursor: pointer;
  height: 35px;
  width: 35px;
  
}
img{
  height: 30px;
}

.lift {
    position: absolute;
    background: aquamarine;
    height: 27vh;
    width: 32vw;
    border: 2px solid black;
    transition: 5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

audio{
  display: none;
  background-repeat: no-repeat;

}


@media screen and (max-width:505px){
    .level{
        font-size: 12px;
    }
}